no-select()
  user-select: none
  -moz-user-select: none
  -webkit-user-select: none

body
  display: inline-block
  margin: 0 5%
  width: 90%
  background-color: #F44336
  color: white
  text-align: center
  font-family: Audiowide, Roboto, 'Segoe UI', sans-serif

h1
  margin: 15px
  font-size: 4rem
  no-select()

h2.value
  display: inline-block
  margin: 0
  width: 300px
  height: 150px
  font-size: 8rem
  verical-align: top
  no-select()

h3
  width: 400px
  text-align: left
  font-size: 2rem
  no-select()

svg
  display: block
  padding: 0
  width: 50px
  height: 50px
  transition: 0.5s
  fill: #fff
  no-select()

  &:first-child
    margin-top: 25px

  &:hover
    fill: #fffa

button#start
  display: block
  margin: 50px auto 20px
  padding: 5px 15px
  width: auto
  height: auto
  outline: 0
  border: 1px solid white
  background-color: #fff0
  color: white
  font-size: 1.75rem
  font-family: Audiowide, Roboto, 'Segoe UI', sans-serif
  transition: 0.5s
  no-select()

  &:hover
    background-color: #fff5

.selector
  display: inline-flex
  align-items: center
  margin: 10px auto
  height: auto

.buttons
  display: inline-block
  margin-left: 20px
  height: 150px
  vertical-align: top

#timer
  h1
    margin: 0
    height: 15rem
    font-size: 16rem

  #current-state
    font-size: 3rem

@media (max-width: 830px)
  .selector
    display: inline-block
    width: auto

  h3
    margin: 10px
    width: auto
    text-align: center

  h2.value
    width: auto
    font-size: 7.2rem

  svg:first-child
    margin-top: 20px

  #timer h1
    height: 50vw
    font-size: 50vw

  button#start
    padding: 5px 10px
    width: 100%

@media (min-width: 1490px)
  .selector
    margin: 10px 100px
